* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#root {
  height: 100vh;
  background-color: #ccc;
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 5.5rem;
  overflow-y: auto;
  background-color: black;
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
