.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  .primary-attributes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .description {
        max-width: 20rem;
      }
    }
    img {
      width: 100%;
      max-width: 25rem;
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  .name {
    color: yellow;
    font-size: 2rem;
  }

  .casting-title {
    margin: 2rem 0;
    margin-bottom: 1rem;
  }
  .secondary-attributes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 100%;
    max-width: 30rem;
    .rating {
      display: flex;
      gap: 3px;
      font-size: 1.5rem;
      align-self: flex-end;
      padding: 1rem;
      color: yellow;
    }
    .year {
      span {
        color: cyan;
      }
    }
  }

  .actors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .actor {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      border: 1px solid cyan;
      padding: 1rem;
      width: 100%;
      max-width: 25rem;
      img {
        border-radius: 8px;
        max-width: 5rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }
}
